<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>

    <link rel="stylesheet" href="http://use.typekit.net/c/9711fe/1w;proxima-nova,2,Vmx:F:n3,W0X:F:n6,Vn5:F:n8;trajan-pro-3,2,XdZ:F:n4/d?3bb2a6e53c9684ffdc9a9aff195b2a62452a13f44e7d614e1442605a5f19f45677095979ec9ef3b8164d001df672b9cc2655e59fd21a36582cab54bb0100d088365d51e024105952cf661c2777c07cc0be85d52d6e15c2f3825814b492">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/starter.css" type="text/css">

    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"> </script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
